<%- include ("partials/header.ejs") %>
<body>
	<%- include ("partials/home-navbar.ejs") %>
	<br>
	<div class="container">
		<h1><%= article.title %></h1>
		<hr>
		<%= article.body %>
			<br>
	</div>
</body>
<%- include ("partials/footer.ejs") %>
