<!-- Precisa voltar os diretórios para achar a pasta "partials" -->
<%- include ("../../partials/header.ejs") %>
	<body>
		<%- include ("../../partials/navbar.ejs") %>
		<div class="container">
			<br>
			<div class="card">
				<div class="card-header">
					<h2>Edição de categoria</h2>
				</div>
				<div class="card-body">
					<form method="POST" action="/categories/update">
						<label>Novo título:</label>
						<input type="hidden" name="ipt-id" value="<%= category.id %>">
						<input type="text" class="form-control" name="ipt-title" placeholder="Defina o título da categoria" value="<%= category.title %>">
						<br>
						<button class="btn btn-warning">Atualizar</button>
					</form>
				</div>
				
			</div>
		</div>
	</body>

<!-- Precisa voltar os diretórios para achar a pasta "partials" -->
<%- include ("../../partials/footer.ejs") %>