<%- include ("../../partials/header.ejs") %>
<body>
	<%- include ("../../partials/navbar.ejs") %>
	<div class="container">
		<hr>
		<h2>Categorias</h2>
		<br>
		<a href="/admin/categories/new" class="btn btn-outline-success">Nova categoria</a>
		<hr>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Título</th>
					<th>Slug</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<% categories.forEach(category => { %>
					<tr>
						<td><%= category.id %></td>
						<td><%= category.title %></td>
						<td><%= category.slug %></td>
						<td>
							<a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>

							<!-- 
								Esse form serve para que possamos enviar um id do registro a ser deletado.
								O onsubmit servirá para prevenirmos uma deleção acidental de um registro, 
								mostrando um confirm para o usuário.
							-->
							<form method="POST" action="/categories/delete" class="d-inline" onsubmit="isDeletarRegistro(event, '<%= category.id %>', this)">
								<!-- Se utilizar o disabled, o value sempre será undefined -->
								<input type="hidden" name="ipt-id" value="<%= category.id %>">
								<button class="btn btn-danger">Deletar</button>
							</form>
						</td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</body>
<%- include ("../../partials/footer.ejs") %>

<script>
	// Intercepta uma deleção, esperando uma confirmação ou negação do usuário.
	function isDeletarRegistro(event, id, form) {
		event.preventDefault()
		if(confirm(`Você quer deletar o registro de ID = ${ id }?`)) {
			form.submit()
		}
	}
</script>