<%- include ("../../partials/header.ejs") %>
<body>
	<%- include ("../../partials/navbar.ejs") %>
	<div class="container">
		<hr>
		<h2>Artigos</h2>
		<br>
		<a href="/admin/articles/new" class="btn btn-outline-success">Novo artigo</a>
		<hr>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Título</th>
					<th>Slug</th>
					<th>Categoria</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<% articles.forEach(article => { %>
					<tr>
						<td><%= article.id %></td>
						<td><%= article.title %></td>
						<td><%= article.slug %></td>
						<!-- Pega o título da categoria do artigo, possível graças ao JOIN feito na rota -->
						<td><%= article.category.title %></td>
						<td>
							<a href="#" class="btn btn-warning">Editar</a>
							<form
								method="POST"
								action="/articles/delete" 
								class="d-inline"
								onsubmit="isDeletarRegistro(event, '<%= article.id %>', this)">
								<!-- Se utilizar o disabled, o value sempre será undefined -->
								<input type="hidden" name="ipt-id" value="<%= article.id %>">
								<button class="btn btn-danger">Deletar</button>
							</form>
						</td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</body>
<%- include ("../../partials/footer.ejs") %>

<script>
	// Intercepta uma deleção, esperando uma confirmação ou negação do usuário.
	function isDeletarRegistro(event, id, form) {
		event.preventDefault()
		if(confirm(`Você quer deletar o registro de ID = ${ id }?`)) {
			form.submit()
		}
	}
</script>
