<%- include ("../../partials/header.ejs") %>
<body>
	<%- include ("../../partials/home-navbar.ejs") %>
	<br>
	<div class="container">
		<!-- "rows" é necessário porque o findAndCountAll retornará um objeto
		articles, contendo "count" (um número) e um array (rows).
	  -->
		<% result.articles.rows.forEach(article => { %>
			<div class="card">
				<div class="card-header">
					<h3><%= article.title %></h3>
				</div>
				<div class="card-body">
					<a href="/<%= article.slug %>" class="btn btn-info">Ler artigo</a>
				</div>
			</div>
			<br>
		<% }) %>
		<div class="row justify-content-center">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<% if (result.page > 2) { %>
						<li class="page-item">
							<a
								class="page-link"
								href="/articles/page/<%= result.page - 1 %>">
								Anterior
							</a>
						</li>
					<% } else if (result.page == 2) { %>
						<li class="page-item">
							<a
								class="page-link"
								href="/">
								Início
							</a>
						</li>
					<% } %>
					<% if (result.hasNext) { %>
						<li class="page-item">
							<a
								class="page-link"
								href="/articles/page/<%= result.page + 1 %>">
								Próxima
							</a>
						</li>
					<% } %>
					</ul>
				</nav>
			</div>
	</div>
</body>
<%- include ("../../partials/footer.ejs") %>
